/* style.css */


body {
  
  display: flex; 

  /* This centers our sketch horizontally.
  justify-content: center; */

  /* This centers our sketch vertically. */
  /* align-items: center;  */

  font-family:monospace;
  margin:0;
}

h1{
  font-size: 40px;
  font-weight: 100;
  text-align: left;
  overflow: hidden;/* Ensures the content is not revealed until the animation */
  border-right: .17em solid pink;/* The typewriter cursor */
  white-space: nowrap;/* Keeps the content on a single line */
  margin: 0 auto;/* Gives that scrolling effect as the typing happens */
  letter-spacing: .12em;/* Adjust as needed */
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
  
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: pink;
  }
}

.container {
  position: relative;
  text-align: center;

}

.pic {
  width:70%;
  position: fixed;
  margin-bottom: 2vh;
}

div img{
	width:100%;
 
}

h2 {
  font-size: 30px;
  font-weight: 200;
  text-align:right;
}


.Tomatoes {
  position: absolute;
margin-top: 40px;
  right: 70px;
}
.Bacon {
  position: absolute;
  font-size: 40px;
  left: 100px;
  text-align:center;
}

.Onion {
  position: absolute;
  font-size: 10px;
right: 20px;
  margin-top: 80px;
  text-align: justify;
}

.Patty {
  position: absolute;
  font-size: 100px;
  left: 10px;
  margin-top: 80px;
  text-align:left;

}

.Pickles {
  position: absolute;
  font-size: 10px;
  left: 10px;
  margin-top: 80px;
  text-align:left;
}

h3 {
  position: absolute;
  font-size: 10px;
right: 30px;
  margin-top: 400px;
  text-align:left;
}